# Ignore everything in data/
data/*

# Keep placeholder + specific folder
!data/.gitkeep
!data/graph_exports/

# Ignore everything inside graph_exports
data/graph_exports/*

# Python junk
__pycache__/
.ipynb_checkpoints/