aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
asciitree==0.3.3
asttokens==3.0.1
async-timeout==5.0.1
attrs==25.4.0
bqplot==0.12.45
bz2file==0.98
certifi==2025.10.5
charset-normalizer==3.4.4
colour==0.1.5
comm==0.2.3
contourpy==1.3.2
cuda-bindings==13.2.0
cuda-pathfinder==1.5.3
cuda-toolkit==13.0.2
cycler==0.12.1
datasci-stdlib-tools==1.0.1
decorator==5.2.1
dotmotif==0.17.0
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.19.1
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.9.0
grandiso==2.2.0
graphviz==0.21
greenlet==3.4.0
idna==3.11
iniconfig==2.3.0
interchange==2021.0.4
ipydatawidgets==4.3.5
ipython==9.12.0
ipython-genutils==0.2.0
ipython_pygments_lexers==1.1.1
ipyvolume==0.6.3
ipyvue==1.12.0
ipyvuetify==1.11.3
ipywebrtc==0.6.0
ipywidgets==8.1.8
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
jupytext==1.18.1
kiwisolver==1.4.9
lark==1.3.1
llvmlite==0.47.0
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.8
matplotlib-inline==0.2.1
matplotlib-scalebar==0.9.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
modin==0.37.1
monotonic==1.6
morphopy==0.7.5
mpmath==1.3.0
multidict==6.7.0
narwhals==2.19.0
networkx==3.3
neuprint-python==0.6.1
neuron_morphology_tools==1.0.1
numba==0.65.0
numpy==1.26.4
nvidia-cublas==13.1.0.3
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti==13.0.85
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime==13.0.96
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufft-cu12==11.2.1.3
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver==12.0.4.66
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse==12.6.3.3
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu12==2.21.5
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
nvidia-nvtx-cu12==12.4.127
packaging==26.1
pandas==2.3.3
pandasql==0.7.3
pansi==2024.11.0
parso==0.8.6
pexpect==4.9.0
pillow==11.3.0
pip==26.0.1
platformdirs==4.5.0
plotly==6.7.0
pluggy==1.6.0
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
py2neo==2021.2.4
pyarrow==23.0.1
pydantic==2.13.2
pydantic_core==2.46.2
pydot==4.0.1
Pygments==2.20.0
pykdtree==1.4.3
pynndescent==0.6.0
pypandoc==1.17
pyparsing==3.2.5
pytest==9.0.3
python-dateutil==2.9.0.post0
pythreejs==2.4.2
pytz==2026.1.post1
PyYAML==6.0.3
referencing==0.37.0
regex==2026.4.4
requests==2.32.5
rpds-py==0.28.0
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
setuptools==81.0.0
shapely==2.1.2
six==1.17.0
SQLAlchemy==2.0.49
stack-data==0.6.3
sympy==1.13.1
threadpoolctl==3.6.0
tomli==2.3.0
torch==2.5.1
torch-geometric==2.6.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.3
trimesh==4.10.1
triton==3.1.0
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
ujson==5.12.0
umap-learn==0.5.12
urllib3==2.5.0
wcwidth==0.6.0
webcolors==25.10.0
wheel==0.46.3
widgetsnbextension==4.0.15
xxhash==3.6.0
yarl==1.22.0
z3-solver==4.13.0.0
